<form *ngIf="roditelji" #forma="ngForm" class="container mx-auto w-50 mt-5" (ngSubmit)="dodajUcenika()">
  <h3>Dodaj ucenika:</h3>
  <mat-form-field class="d-block">
    <input matInput placeholder="Ime" required name="ime" [(ngModel)]="ucenik.imeUcenika" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="d-block">
    <input matInput placeholder="Prezime" required name="prezime" [(ngModel)]="ucenik.prezimeUcenika" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="d-block">
    <input matInput placeholder="Korisnicko ime:" required name="korisnickoIme" [(ngModel)]="ucenik.korisnickoImeUcenika" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="d-block">
    <input matInput placeholder="Sifra" required name="sifra" [(ngModel)]="ucenik.sifraUcenika" autocomplete="off">
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-select placeholder="Roditelj" [(ngModel)]="idRoditelja" name="idRoditelja" required>
      <mat-option *ngFor="let roditelj of roditelji " [value]="roditelj.idRoditelja">
        {{roditelj.imeRoditelja}} {{ roditelj.prezimeRoditelja}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button>Dodaj</button>
  <button mat-button type="button" (click)="goBack()">Otkazi</button>
</form>