<form #forma="ngForm" class="container mx-auto w-50 mt-5" (ngSubmit)="dodajPredmet()">
  <h3>Dodaj predmet:</h3>
  <mat-form-field class="d-block">
    <input matInput placeholder="Ime predmeta" required name="ImePredmeta" [(ngModel)]="predmet.imePredmeta" autocomplete="off">
  </mat-form-field>
  <!-- <mat-form-field class="d-block">
    <input matInput placeholder="Fond casova nedeljno:" required name="fondCasovaNedeljni" [(ngModel)]="predmet.fondCasovaNedeljni" autocomplete="off">
  </mat-form-field> -->

  <!-- <mat-form-field class="d-block">
      <mat-select placeholder="Nastavnik" [(ngModel)]="idNastavnika" name="nastavnik" required >
        <mat-option *ngFor="let nastavnik of nastavnici " [value]="nastavnik.idNastavnika" >
          {{nastavnik.imeNastavnika}} {{nastavnik.prezimeNastavnika}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  <button mat-raised-button>Dodaj</button>
  <button mat-button type="button" (click)="goBack()">Otkazi</button>
</form>
<!-- *ngIf="nastavnici"  -->