
.odeljenje
{
    background-color: #673ab7;
    margin : 2px;
}

.spacer
{
    flex : 1 1 auto;
}


.mat-list-item{
    color : white;
}

.clickable
{
    cursor: pointer;
}

.clickable :hover
{
    background-color: #000000;
}

.mat-icon 
{
    cursor: pointer;
}